bower_components/
clientApp/public/css/*
!clientApp/public/css/placeholder.md
clietnApp/public/images/*
!clientApp/public/images/placeholder.md
clientApp/public/js/*
!clientApp/public/js/README.md
.cache/

lib/

node_modules/
tmp
.idea
.DS_Store
